page-third {
  .label-md{
  margin: 0px 0px 0px 0;
  color:black;
}
ion-select{
  width: 200px;

}
.item-divider-md {
  background-color: hsl(251, 78%, 78%);
  font-size: 1.2rem;
  color:black;
}

ion-label{
  font-size: 1.2rem;
  color:black;
}

.item-input{
  color: black;
}
.item-input .label-md{
  color: black;
}
.item-md {
  font-size: 1.2rem;
}



}
